@import "tailwindcss";

@theme {
  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce7f3;
  --color-pink-200: #fbcfe8;
  --color-pink-300: #f9a8d4;
  --color-pink-400: #f472b6;
  --color-pink-500: #ec4899;
  --color-pink-600: #db2777;
  --color-pink-700: #be185d;
  --color-pink-800: #9d174d;
  --color-pink-900: #831843;
  --color-pink-950: #500724;
  --color-gray-900: #111111;
  --color-gray-950: #0a0a0a;
  --color-gold-400: #d4a843;
  --color-gold-500: #c4922e;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}
